body{
    margin: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.phone{
    position: relative;
    width: 300px;
    height: 550px;
    border-radius: 40px;
    border: 8px solid black;
    box-shadow: 0 19px 38px  rgba(0, 0, 0, 0.30), 0 15px 12px  rgba(0, 0, 0, 0.22); 
    background: rgb(144, 180, 221);
    cursor: pointer;
}

.leyer-1{
    position: absolute;
    z-index: 1;
    height: 400px;
    width: 70px;
    right: 60px;
    bottom: 0;
}
.leyer-2{
    position: absolute;
    z-index: 2;
    height: 400px;
    width: 70px;
    bottom: 0;
    left: 60px;
}
.leyer-3{
    position: absolute;
    z-index: 3;
    right: 0;
    left: 0;
    margin: 0 auto;
    height: 350px;
    width: 250px;
    bottom: 0;

}
.leyer-4{
    position: absolute;
    z-index: 4;
    height: 300px;
    width: 70px;
    bottom: 0;
    left: 60px;
}
.leyer-5{
    position: absolute;
    z-index: 5;
    height: 250px;
    width: 200px;
    bottom: 0;
}
.leyer-6{
    position: absolute;
    z-index: 6;
    width: 70px;
    height: 200px;
    bottom: 0;
    right: 35px;
}
.leyer-7{
    position: absolute;
    z-index: 7;
    height: 150px;
    width: 150px;
    bottom: 0;
    right: 0;
}
.leyer-8{
    position: absolute;
    z-index: 8;
    height: 100px;
    width: 250px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.leyer-9{
    position: absolute;
    z-index: 9;
    height: 80px;
    width: 120px;
    bottom: 0;
    left: 0;
}
.leyer-10{
    position: absolute;
    z-index: 10;
    height: 80px;
    width: 120px;
    bottom: 0;
    right: 0;
}

/* *********************Leyer 1************* */
.left-ear-outer{
    background: white;
    border-radius: 90%;
    width: 16px;
    height: 50px;
    position: absolute;
    left: 10px;
}

.left-ear-inner{
    background: rgba(224, 180, 180, 0.739);
    border-radius: 90%;
    width: 10px;
    height: 50px;
    position: absolute;
    left: 13px;
    top: 8px;
}

.right-ear-outer{
    background: white;
    border-radius: 90%;
    width: 16px;
    height: 50px;
    position: absolute;
    right: 10px;
}

.right-ear-inner{
    background: rgba(224, 180, 180, 0.739);
    border-radius: 90%;
    width: 10px;
    height: 50px;
    position: absolute;
    right: 13px;
    top: 8px;
}

.head{
    position: absolute;
    height: 70px;
    width: 100%;
    border-radius: 35px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 30px;
    background: white;
}

.head__eye{
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: gray;
    top: 15px;
}

.head__eye.head__eye--left{
    left: 23px;
}

.head__eye.head__eye--right{
    right: 23px;
}

/* *********************Leyer 3************* */

.square-main{
    position: absolute;
    width: 100%;
    height: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: rgb(62, 95, 4);
    box-shadow: 0 8px 15px rgb(0, 0, 0);
}

.leyer-5 .square-main{
    border-bottom-left-radius: 30px;
}

.leyer-7 .square-main{
    border-bottom-right-radius: 30px;
}

.brown__zigzag{
    position: absolute;
    width: 100%;
    height: 55px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background: 
    linear-gradient(-45deg, transparent 33.33%, darkred 33.33%, darkred 66.66%, transparent 66.66% ),
    linear-gradient(45deg, transparent 33.33%, darkred 33.33%, darkred 66.66%, transparent 66.66% );
    background-size: 30px 80px;
    transform: rotate(180deg);
}

.dark__green__zigzag{
    width: 100%;
    height: 40px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background: 
    linear-gradient(-45deg, transparent 33.33%, #0b700b 33.33%, #0b700b 66.66%, transparent 66.66% ),
    linear-gradient(45deg, transparent 33.33%, #0b700b 33.33%, #0b700b 66.66%, transparent 66.66% );
    background-size: 30px 80px;
    transform: rotate(180deg);
}

.cloud-one{
    position: absolute;
    width: 100px; 
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background-color: rgb(177, 163, 141);
    border-radius: 60px 60px 0 0;
}

.cloud-two{
    position: absolute;
    width: 100px; 
    height: 80%;
    bottom: 0;
    left: 0;
    background-color: rgb(177, 163, 141);
    border-radius: 50px 50px 0 0  ;
}

.cloud-three{
    position: absolute;
    width: 100px; 
    height: 80%;
    bottom: 0;
    right: 0;
    background-color: rgb(177, 163, 141);
    border-radius: 50px 50px 0 0;
}

/* *********************Leyer 9************* */

.cloud-one-left{
    width: 80px;
    height: 100%;
    border-radius: 40px 40px 0 30px;
    background: white;
    left: 0;
    position: absolute;
}

.cloud-two-left{
    position: absolute;
    width: 40px;
    height: 60%;
    border-radius: 0 40px 30px 0;
    background: white;
    bottom: 0;
    left: 80px;
}

/* *********************Leyer 10************* */

.cloud-one-rigth{
    position: absolute;
    width: 70%;
    height: 100%;
    border-radius: 45px 45px 30px 0px;
    background-color: white;
    right: 0;
}

.cloud-two-rigth{
    position: absolute;
    width: 40px;
    height: 60%;
    border-radius: 40px 0px 0px 30px;
    background: white;
    bottom: 0;
    left: 0;
}